{
  "env": {
      "node": true,
      "jest": true
  },
  "extends": [
      "standard"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
      "@typescript-eslint"
  ],
  "rules": {
    "space-before-function-paren": "off",
    "no-unused-vars": "off",
    "no-useless-constructor": "off",
    "no-dupe-class-members": "off"
  }
}
